

.navbar-brand  img{
    padding-top: 5px;
    transform: scale(1.7);
}

#search{
outline: none;
border: none;
padding: 6px;
    border: 1px solid white;
    background-color: transparent;
    /* border: none; */
}
.secondi{
padding: 5px;

    border-radius: 0px 20px 20px 0;
    border-bottom: 1px solid white;
}

#ham{
    height: 35px;
}
.search-container {
    position: relative;
  }
  
  .search-input {


    margin-right: 5px;
    background-color: transparent;
    border: none
    ;
    font-size: 20px;
    padding: 5px;
border-bottom: 1px solid white;
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
  }
  
  .search-input.visible {
margin-right: 5px;
    background-color: transparent;
    border: none
    ;
    font-size: 20px;
    padding: 5px;
border-bottom: 1px solid white;
    width: 200px; /* Set your desired width */
    opacity: 1;
  }
  
  .offcanvas{
    color: white;
  background-color: #040714;

  }
 
  .navbar {
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.32);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
}
 
.navbar.colorChange {
    background-color: #000;
}
  
  .nav-link{
    color: white;
  }
@media only screen and (max-width:479px){
    .search-input.visible {
        font-size: 10px;
    width: 130px; /* Set your desired width */

    
    }
  

    .navbar-brand  img{
        padding-top: 0px;
        transform: scale(1);
    }
    
#ham{
    height: 30px;
}

  }

  