

.navbar-brand  img{
    padding: 5px 0 5px 0;
    transform: scale(1.7);
}

#search{
outline: none;
border: none;
padding: 6px;
    border: 1px solid white;
    background-color: transparent;
    /* border: none; */
}
.secondi{
padding: 5px;

    border-radius: 0px 20px 20px 0;
    border-bottom: 1px solid white;
}

#ham{
    height: 35px;
}
.search-container { 
    position: relative;
  }
  
  .search-input {

color: white;
    margin-right: 5px;
    background-color: transparent;
    border: none
    ;
    font-size: 20px;
    padding: 5px;
border-bottom: 1px solid white;
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
  }
  
  .search-input.visible {
margin-right: 5px;
    background-color: transparent;
    border: none
    ;
    border-radius: none;

    font-size: 20px;
    padding: 5px;
border-bottom: 1px solid white;
    width: 200px; /* Set your desired width */
    opacity: 1;
  }
  .search-input.visible:focus{
    background-color: transparent;
    border-bottom: 3px solid rgb(38, 160, 231);

    border-radius: 0px;
    outline: none;
  }
  
  .offcanvas{
    width: 100%;
    color: white;
  background-color: #040714;

  }
 
  .navbar {
    
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    background-color: #040714a1;
position: fixed;
}
 
/* .navbar.colorChange {position: fixed;
    background-color: #000;
}
   */
  .nav-link{
    color: white;
  }
@media only screen and (max-width:479px){
    
    .search-input.visible {
        outline: none;
        font-size: 15px;
        border-radius: none;
    width: 150px; /* Set your desired width */

    
    }
  

    .navbar-brand  img{
        padding-top: 0px;
        transform: scale(1);
    }
    
#ham{
    height: 30px;
}

  }

  