.container8 {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 82px;
    /* padding: 0 calc(3.5vw + 5px); */
    
  }
  
  .background {
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
background-size: contain;

  }
  
  .background img {
    position: fixed;
    background-position: fixed;
background-size: contain;
background-size:cover;
    width: 100%;
    height: 120vh;
  }
  
  .image-title {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    /* margin: 0 auto; */
    height: 100%;
    min-height: 370px;
    padding: 4px;
    width: 60%;
    /* border: 3px solid rgba(249, 249, 249, 0.1); */

    border-radius: 10px;

  }
  
  .image-title img {
    border-radius: 10px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    max-width: 600px;
    min-width: 200px;
    width: 20vw;
  }
  
  .content-meta {
    max-width: 874px;
  }
  
  .controls {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 24px 0;
    min-height: 56px;
  }
  
  .player, .trailer {
    text-align: center;
    font-size: 15px;
    margin-right: 22px;
    padding: 0 24px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(249, 249, 249);
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .player img, .trailer img {
    width: 32px;
  }
  
  .player:hover, .trailer:hover {
    background: rgb(198, 198, 198);
  }
  
  .trailer {
    background: rgba(252, 4, 4, 0.521);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
  }
  
  .add-list {
    margin-right: 16px;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .add-list span {
    background-color: rgb(249, 249, 249);
    display: inline-block;
  }
  
  .add-list span:first-child {
    height: 2px;
    transform: translate(1px, 0) rotate(0deg);
    width: 16px;
  }
  
  .add-list span:nth-child(2) {
    height: 16px;
    transform: translateX(-8px) rotate(0deg);
    width: 2px;
  }
  
  .group-watch {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
  }
  
  .group-watch div {
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .group-watch img {
    width: 100%;
  }
  
  .sub-title {
    /* border: 3px solid rgba(2, 49, 107, 0.579); */
    border-radius: 10px 10px 0px 0px;
    padding: 16px 10px;
font-weight: bold;
    background-color: rgba(0, 0, 0, 0.31);
    color: rgb(249, 249, 249);
    font-size: 35px;
    min-height: 20px;
  }
  
  .description {
border-radius:0px 0px 90px 10px;
    background-color: rgba(0, 0, 0, 0.31);
    margin-bottom: 80px;
    display: block;
    line-height: 1.4;
    font-size: 15px;
    padding: 16px 10px;
    color: rgb(249, 249, 249);
  }
  
  
@media only screen and (max-width:479px){

    .description {
    margin-bottom: 20px;

        line-height: 1.4;
        font-size: 10px;
        padding: 16px 0;
        color: rgb(249, 249, 249);
      }
      #responsiveyt{
        height: 30vh;
      }
      .container8{
    top: 42px;

      }
  .background img {
    background-position: contain;
/* background-size: cover; */
background-size:contain;
    width: auto;
    height: 100vh;
  }
  }